.slide h1 { 
  color: #fff; 
  font-size: 43px; 
  font-weight: 100; 
  margin: 20px 0 80px 0; 
  font-style: italic; 
}

.slide { 
  background: #5b6869 url('../images/blog.jpg') no-repeat center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  padding: 130px 0; 
}


.blog{
    padding: 70px 0;
}
.blog h1{
  color: #9197a8; 
  font-size: 15px; 
  margin: 0 0 20px 0; 
  text-transform: uppercase;
  padding-top: 30px;
}
.blog p { 
    color: #7a8387; 
    font-size: 16px; 
    word-spacing: 2px; 
    line-height: 30px; 
}
.blog-leftcol { 
    border-right: 1px solid rgba(208, 217, 226, 0.4); 
    padding-right: 60px; 
}
.blog-rightcol { 
    padding-left: 60px; 
}
.blog1{
    background: #5b6869 url('../images/background/back.png') no-repeat left center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  padding: 130px 0; 
}
.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px;
}